.questions__wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 120px 140px 120px 100px;
    background-image: url(../../assets/images/bg-gray.png), url(../../assets/images/mini-logo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom, 90% 80%;

    h1 {
        font-weight: 600;
        font-size: 2rem;
    }

    .questions__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .questions__title {
            padding: 10px 0;
            display: flex;
            justify-content: space-between;

            .progress {
                img {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1920px) {
    .questions__wrapper {
        padding: 70px 80px;
        background-size: 40%, 10%;

        h1 {
            font-size: 1.7rem;
        }
    }
}

@media (max-width: 1550px) {
    .questions__wrapper {
        padding: 70px 100px;

        h1 {
            font-size: 1.4rem;
        }
    }
}

@media (max-width: 1360px) {
    .questions__wrapper {
        background-size: 50%, 15%;
        padding: 50px 70px;

        h1 {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 991px) {
    .questions__wrapper {
        padding: 50px 40px;

        h1 {
            font-size: 1rem;
        }
    }
}

@media (max-width: 640px) {
    .questions__wrapper {
        background-image: none;
        padding: 35px 20px;

        h1 {
            order: 2;
            margin-top: 30px;
            font-size: 1.2rem;
        }

        .questions__container {

            .questions__title {
                flex-direction: column;

                .progress {
                    display: flex;
                    order: 1;

                    div {
                        width: 70%;
                    }

                    img {
                        display: block;
                        width: 120px;
                        height: 40px;
                    }

                    h2 {
                        margin: 0;
                    }

                    .progress__wrapper {
                        margin-top: 5px;
                        display: flex;

                        .progress__bar {
                            margin-left: 0;
                            margin-right: 5px;
                            width: 20%;
                            height: 5px;
                        }
                    }
                }
            }
        }
    }
}