@font-face {
  font-family: "GothamPro";
  src: url("./assets/fonts/GothamPro/gothampro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'GothamPro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;
}

::selection {
  background: rgba(189, 189, 189, 0.479);
}
